<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <title>Base</title>
        <link rel="stylesheet" th:href="@{/css/base.css}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster Two">
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css}" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    </head>
    <body>
      <!-- NAVBAR -->
      <header th:fragment="navbar">
          <nav class="navbar navbar-expand-lg fixed-top d-flex flex-row justify-content-between align-items-center" style="background-color: rgba(41, 43, 44, 0.9);">
            <a id="homeTitle" class="navbar-brand text-light" th:href="@{/}"> <span style="font-family: 'Lobster Two'; font-size: 40px; color: rgb(235, 183, 87);text-shadow: 1px 1px #000;">Catering</span></a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link text-light" th:href="@{/elencoChef}">Chef</a>
                  <span th:text="${numChef}" class="text-white">#</span>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" th:href="@{/elencoBuffet}">Buffet</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" th:href="@{/elencoPiatti}">Piatti</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" th:href="@{/elencoIngredienti}">Ingredienti</a>
                </li>
              </ul>
            </div>
            <a sec:authorize="!isAuthenticated()" class="btn rounded-pill text-dark" type="login" th:href="@{/login}" style="background-color: rgb(235, 183, 87);">Sign Up | Login</a>
            <a sec:authorize="isAuthenticated()" class="btn rounded-pill text-dark" type="login" th:href="@{/logout}" style="background-color: rgb(235, 183, 87);">Logout</a>
          </nav>
        </header>

        <!-- FOOTER -->
        <footer id="main-footer" class="bg-dark sticky-bottom" th:fragment="footer">
          <div class="container">
            <div class="row">
              <div class="col text-light text-center py-3">
                <h3>Catering Roma Tre</h3>
                <p>- Copyright &copy; 2022 - 
                  <br>
                  Made by <a class="text-white" th:href="@{https://github.com/Umberto28}">Umberto Gentile</a></p>
              </div>
            </div>
          </div>
        </footer>
    </body>
</html>