<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="UTF-8" />
        <title>Base</title>
        <link rel="stylesheet" href="../../static/base.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster Two">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <header th:fragment="navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top d-flex flex-row justify-content-between">
                <a id="homeTitle" class="navbar-brand text-light" th:href="@{/}" style="font-family: 'Lobster Two';font-size: 35px;">Catering</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link text-light" th:href="@{/elencoBuffet}">Buffet</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light" th:href="@{/elencoChef}">Chef</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light" th:href="@{/elencoPiatti}">Piatti</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light" th:href="@{/elencoIngredienti}">Ingredienti</a>
                    </li>
                  </ul>
                </div>
                <button class="btn btn-primary" type="button">Registrazione | Login</button>
            </nav>
          </header>
          <footer id="main-footer" class="bg-dark sticky-bottom" th:fragment="footer">
            <div class="container">
              <div class="row">
                <div class="col text-light text-center py-3">
                  <h3>Catering Roma Tre</h3>
                  <p>Copyright &copy; 2022</p>
                </div>
              </div>
            </div>
          </footer>
    </body>
</html>