<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <meta charset="UTF-8" />
        <link href="/css/my-style.css" rel="stylesheet">
        <title>Dettagli Buffet</title>
    </head>
    <body>
        <div>
            <h4>Dettagli Buffet</h4>
            <div th:object="${buffet}">
                <span th:text="*{nome}">Carne</span>
                <span th:text="*{descrizione}">piatti di carne</span>
            </div>
            <div>
                <button type="button"><a th:href="@{/deleteBuffet(buffetId=${buffet.id})}">Elimina</a></button>
                <button><a th:href="@{/showUpdateForm(buffetId=${buffet.id})}">Modifica</a></button>
            </div>
        </div>
            <footer><a href="/">Home</a></footer>
    </body>
</html>