<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Elenco Ingredienti</title>
		<link rel="stylesheet" th:href="@{/css/index2.css}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster Two">
		<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		<!-- NAVBAR SECTION -->
		<header th:replace="fragments/base.html :: navbar"></header>

		<!-- TITLE SECTION -->
		<div  class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img th:src="@{/images/sfondoElencoIngredienti.jpg}" class="d-block" height="500" width="1920" alt="home image" style="object-fit: cover;">
					<div id="home-section" class="carousel-caption">
						<p><span id="title" class="colorTitles">Ingredienti</span></p>
					</div>
				</div>
			</div>
		</div>

		<!-- SUBTITLE SECTION -->
		<div class="m-5 border-radius" style="border: 4px dashed rgb(235, 183, 87);">
			<div class="p-3 d-flex flex-row align-items-center justify-content-between" >
				<div class="colorTitles section-title">Elenco ingredienti</div>
				<a th:href="@{/ingredienteForm}" class="btn text-dark">Aggiungi ingrediente</a>
			</div>
		</div>
		
		<!-- LIST SECTION -->
		<div class="d-flex flex-wrap justify-content-around">
			<div th:each="ingrediente : ${elencoIngredienti}">
				<!-- <a href="buffet.html" class ="link"
					th:href="@{'/buffet' + '/' + ${buffet.id}}"
					th:text="${buffet.nome} + ' ' + ${buffet.descrizione}">Paolo Rossi
				</a> -->
				<div class="card m-5" style="width: 18rem;background-color: rgb(112, 102, 80);">
					<div class="card-header d-flex flex-row justify-content-between align-items-center mb-3">
						<h4 class="card-title colorTitles" th:text="${ingrediente.nome}">Ingredienti</h4>
						<img th:src="@{/images/ingredientiIcon4.png}" alt="Ingrediente icon" class="rounded-circle" style="background-color: rgb(235, 183, 87);">
					</div>
					<div class="card-body text-white">
						<p  class="pb-2" th:text="${ingrediente.descrizione}">Descrizione</p>
						<div style="width: 50%;">
							<a href="ingrediente.html" class ="link btn btn-block"
						th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}"><img th:src="@{/images/dettagliIcon.png}" alt="Dettagli"></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- FOOTER SECTION -->
		<footer th:replace="fragments/base.html :: footer"></footer>

	</body>
</html>