<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Lobster Two}">
        <link rel="stylesheet" th:href="@{/css/index2.css}">
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css}" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title>Catering Roma Tre</title>
    </head>
    <body>
        <!-- NAVBAR SECTION -->
        <header th:replace="fragments/base.html :: navbar"></header>

        <!-- TITLE SECTION -->
        <div  class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img th:src="@{/images/sfondoIndex.jpg}" class="d-block" height="500" width="1920" alt="home image" style="object-fit: cover;">
                    <div id="home-section" class="carousel-caption">
                        <p> <span id="title" class="colorTitles" >Catering Roma Tre</span> </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- CHEF SECTION -->
        <div class="d-flex flex-row align-items-center justify-content-around m-5">
            <div class="m-4 p-3 border-radius" style="text-align-last: left;border: 4px dashed rgb(235, 183, 87);">
                <p>
                    <span class="section-title colorTitles">I nostri Chef</span>
                    <br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing
                    <br>
                    elit. Numquam, alias!
                    <br>
                    <br>
                    <a class="colorTitles" th:href="@{/elencoChef}">Vedi tutti gli Chef ></a>
                </p>
            </div>
            <div class="card card-obj m-5" style="width: 17rem;background-color: rgb(112, 102, 80);">
                <img th:src="@{/images/chef1.jpg}" class="card-img-top" alt="chef 1">
                <div class="card-body">
                  <h5 class="card-title colorTitles">Chef 1</h5>
                  <p class="card-text text-white">Some quick example text to build on the card title.</p>
                  <button type="button" class="btn" style="width: 50%;background-color: rgb(235, 183, 87);"><img th:src="@{/images/dettagliIcon.png}" alt="Dettagli"></button>
                </div>
            </div>
            <div class="card card-obj m-5" style="width: 17rem;background-color: rgb(112, 102, 80);">
                <img th:src="@{/images/chef2.jpg}" class="card-img-top" alt="chef 2">
                <div class="card-body">
                  <h5 class="card-title colorTitles">Chef 2</h5>
                  <p class="card-text text-white">Some quick example text to build on the card title.</p>
                  <button type="button" class="btn" style="width: 50%;background-color: rgb(235, 183, 87);"><img th:src="@{/images/dettagliIcon.png}" alt="Dettagli"></button>
                </div>
            </div>
            <div class="card card-obj m-5" style="width: 17rem;background-color: rgb(112, 102, 80);">
                <img th:src="@{/images/chef3.jpg}" class="card-img-top" alt="chef 3">
                <div class="card-body">
                  <h5 class="card-title colorTitles">Chef 3</h5>
                  <p class="card-text text-white">Some quick example text to build on the card title.</p>
                  <button type="button" class="btn" style="width: 50%;background-color: rgb(235, 183, 87);"><img th:src="@{/images/dettagliIcon.png}" alt="Dettagli"></button>
                </div>
            </div>
        </div>

        <!-- BUFFET SECTION -->
        <div class="bgCatering">
            <div class="d-flex flex-row align-items-center justify-content-around m-5">
                <div class="card text-white m-5 border-radius" style="width: 530px;background-color: rgb(112, 102, 80);">
                    <img th:src="@{https://source.unsplash.com/random/530x320/?buffet}" class="card-img" alt="Buffet Example">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <div class="bgBlur p-2 border-radius">
                            <h5 class="card-title colorTitles">Buffet</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="m-5 p-3 border-radius" style="text-align-last: right;border: 4px dashed rgb(235, 183, 87);">
                    <p class="text-white">
                        <span class="section-title colorTitles">I Buffet degli Chef</span>
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptas quod 
                        <br>
                        quos animi consequatur facilis obcaecati quisquam quam ab maiores!
                        <br>
                        <br>
                        <a th:href="@{/elencoBuffet}" class="colorTitles">Vedi tutti i Buffet ></a>
                    </p>
                </div>
            </div>
        </div>

        <!-- INGREDIENT SECTION-->
        <div class="d-flex flex-row align-items-center justify-content-around m-4">
            <div class="d-flex flex-column align-items-center justify-content-center m-3">
                <img th:src="@{/images/ingrediente1.jpg}" alt="Ingrediente 1" class="shadow rounded-circle m-2" style="max-width: 300px;">
                <img th:src="@{/images/ingrediente2.jpg}" alt="Ingrediente 2" class="shadow rounded-circle m-2" style="max-width: 300px;">
            </div>
            <div class="m-4 p-3 border-radius" style="text-align-last: center;border: 4px dashed rgb(235, 183, 87);">
                <p>
                    <span class="section-title colorTitles">I nostri Prodotti</span>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing  
                    <br>
                    elit. Sint voluptas quod
                    quos animi consequatur facilis obcaecati 
                    <br>
                    quisquam quam ab maiores!
                    <br>
                    <br>
                    <a th:href="@{/elencoPiatti}" class="colorTitles">Vedi tutti i piatti ></a>
                    <br>
                    <a th:href="@{/elencoIngredienti}" class="colorTitles">Vedi tutti gli ingredienti ></a>
                </p>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center m-3">
                <img th:src="@{/images/ingrediente3.jpg}" alt="Ingrediente 3" class="shadow rounded-circle m-2" style="max-width: 300px;">
                <img th:src="@{/images/ingrediente4.jpg}" alt="Ingrediente 4" class="shadow rounded-circle m-2" style="max-width: 300px;">
            </div>
        </div>

        <!-- FOOTER SECTION -->
        <footer th:replace="fragments/base.html :: footer"></footer>

    </body>
</html>